<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul side-navigation class="nav" id="side-menu">
      <li class="nav-header p5-left-column">
        <ul class="nav nav-second-level">
          <li class="title"><a>{{ 'First name' | translate }} Nom</a></li>
          <li><a>{{ "Role" | translate }}</a></li>
        </ul>
      </li>
      <li class="active">
        <a href="javascript:void(0);"><i class="fa fa-th-large"></i>
          <span class="nav-label">{{ 'Administrator' | translate }}</span> <span class="fa arrow"></span>
        </a>
        <a ui-sref="search"><i class="fa fa-search"></i>
          <span class="nav-label">{{ 'Recherche' | translate }}</span>
        </a>
      </li>
      <!--li>
        <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Home</span> <span
            class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
          <li><a ui-sref="login">Login Page</a></li>
          <li><a ui-sref="search">Search Page</a></li>
          <li><a ui-sref="user_account">Account Page</a></li>
          <li><a ui-sref="user">User Listing Page</a></li>
          <li><a ui-sref="user_edit">Edit User Page</a></li>
          <li><a ui-sref="user_new">Add New User Page</a></li>
          <li><a ui-sref="role">Role Listing Page</a></li>
          <li><a ui-sref="role_edit">Edit Role Page</a></li>
          <li><a ui-sref="role_new">Add New Role Page</a></li>
        </ul>
      </li-->
    </ul>
  </div>
</nav>