<div class="ibox-title">
  <h5>{{ "Ajouter un utilisateur" | translate }}</h5>
</div>
<div class="ibox-content">
  <form method="get" class="form-horizontal">
    <div class="form-group"><label class="col-sm-2 control-label">{{ "Nom" | translate }}</label>
      <div class="col-sm-10"><input type="text" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">{{ "Prénom" | translate }}</label>
      <div class="col-sm-10"><input type="text" class="form-control"></div>
    </div>
    <div class="form-group"><label class="col-sm-2 control-label">{{ "Adresse email" | translate }}</label>
      <div class="col-sm-10"><input type="text" class="form-control"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ "Mot de passe" | translate }}</label>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-md-3"><input type="text" class="form-control"></div>
          <label class="col-sm-2 control-label">{{ "Confirmation mot de passe" | translate }}</label>
          <div class="col-md-3"><input type="text" class="form-control"></div>
        </div>
      </div>
    </div>
  </form>
</div>